* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Modulus';
    font-weight: 700;
    scroll-behavior: smooth;
}

html {
    background-color: #100f0f;
    background-image: url('img/bg.png');
    background-repeat: repeat;
}

/* Add Modulus font family */

@font-face {
    font-family: 'Modulus';
    src: url('fonts/Modulus/Modulus.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Modulus';
    src: url('fonts/Modulus/Modulus-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Modulus';
    src: url('fonts/Modulus/Modulus-Bold.otf') format('truetype');
    font-weight: 700;
}

/* Add Ulm Grotesk font family */

@font-face {
    font-family: 'Ulm Grotesk';
    src: url('fonts/UlmGrotesk/UlmGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ulm Grotesk';
    src: url('fonts/UlmGrotesk/UlmGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ulm Grotesk';
    src: url('fonts/UlmGrotesk/UlmGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ulm Grotesk';
    src: url('fonts/UlmGrotesk/UlmGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Ulm Grotesk';
    src: url('fonts/UlmGrotesk/UlmGrotesk-Extrabold.ttf') format('truetype');
    font-weight: 800;
}

.page{
    /* background-image: url('img/stars-png-620.png');
    background-repeat: repeat;   */
}

.navbar {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    z-index: 12;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: 0% 10% 0% 10%;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo__mars-travel {
    width: 12vw;
}

.logo__mars-travel__cls-1{
    isolation:isolate;
}

.logo__mars-travel__cls-2{
    fill:url(#Gradient_1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40vw;
    font-size: 1vw;
}

.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: grey;
}

/* Buy Tickets Section */

.buy-tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mars-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55vh;
    width: 80%;
}

.mars-description__letter {
    width: 15vw;
}

#mars-description__letter__A {
    width: 12vw;
}

#mars-description__letter__R {
    width: 13vw;
}

.a {
    fill: url(#a);
    }

.mars-description__MA {
    display: flex;
    justify-content: space-between;
    width: 34vw;
}

.mars-description__RS {
    display: flex;
    justify-content: space-between;
    width: 34vw;
    padding-left: 4vw;
}

#mars-description__image {
    position: absolute;
    width: 30%;
    left: 35%;
    -webkit-filter: drop-shadow(0 0 1vw rgb(13, 12, 12));
    filter: drop-shadow(0 0 1vw rgb(13, 12, 12));
}

#Orbit {
    position: absolute;
    width: 33%;
    left: 33.5%; 
}

.mars-description__circle-red {
    position: absolute;
    width: 30%;
    left: 35%;
    fill: red;
    filter: blur(25vw);
    z-index: -1;
}

.mars-text-button {
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
    word-spacing: 0.2vw;
    width: 80%;
    padding-top: 4vh;
    position: relative;
}

.mars-text-button__circle-red {
    position: absolute;
    width: 25vw;
    fill: red;
    left: -28%;
    bottom: -210%;
    filter: blur(13vw);
    z-index: -1;
}

.mars-text-button__text-description {
    color: #C3C5C2;
}

.mars-text-button__buy-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13vw;
}

.mars-text-button__text-button {
    color: #FFF8F6;
}

.mars-text-button__circle-red-small {
    position: absolute;
    width: 10vw;
    fill: rgb(244, 75, 75);
    filter: blur(6vw);
    right: -4.4%;
    z-index: -1;    
}

#mars-text-button__arrow-right {
    position: absolute;
    width: 3.5vw;
    right: 1vw;
    fill:#FFF8F6;
    fill-opacity:1; 
    stroke:none; 
    stroke-width:0px;
}

.mars-text-button__circle {
    fill: #FFF8F6;
    width: 2.7vw;
}

/* Exploration Section */

.exploration__section {
    padding-top: 28vh;
    width: 80%;
    padding-left: 10%;
    height: 120vh;
}

.exploration__headline {
    display: flex;
    justify-content: left;
    font-size: 2.7vw;
    word-spacing: 0.9vw;
    color: #f7f2f1;
    font-family: 'Ulm Grotesk';
    font-weight: 400;
}

.planet-and-note {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-top: 10vh;
    position: relative;
}

.planet-with-dots {
    position: relative;
}

#planet-and-note__image {
    width: 35vw;
    margin-left: 11.7%;
    -webkit-filter: drop-shadow(0 0 1vw rgb(13, 12, 12));
    filter: drop-shadow(0 0 1vw rgb(13, 12, 12));
}

.planet-and-note__note {
    color: #aaaaaa;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    padding-left: 20%;
    padding-bottom: 8%;
    text-align: center;
    position: relative;    
}

#planet-and-note__note-first-string {
    word-spacing: 0.4vw;
}

#planet-and-note__orbit {
    position: absolute;
    width: 37vw;
    top: -3.1%;
    left: 8.8%;
}

.planet-with-dots__dots {
    position: absolute;
    width: 0.4vw;
    border-radius: 0.5vw;
    background-color: #fff;
    box-shadow:
        0 0 0.21vw 0.06vw rgb(201, 194, 194),
        0 0 0.32vw 0.11vw rgb(119, 115, 115);
}

#planet-with-dots__dots__1 {
    top: 25%;
    left: 85%;
}

#planet-with-dots__dots__2 {
    top: 20%;
    left: 50%;
}

#planet-with-dots__dots__3 {
    top: 32%;
    left: 38%;
}

#planet-with-dots__dots__4 {
    top: 41%;
    left: 65%;
}

#planet-with-dots__dots__5 {
    top: 44%;
    left: 100%;
}

#planet-with-dots__dots__6 {
    top: 57%;
    left: 68%;
}

#planet-with-dots__dots__7 {
    top: 59%;
    left: 22%;
}

#planet-with-dots__dots__8 {
    top: 75%;
    left: 55%;
}

#planet-with-dots__dots__9 {
    top: 76%;
    left: 97%;
}

#planet-with-dots__dots__10 {
    top: 93%;
    left: 70%;
}

#planet-with-dots__dots__11 {
    top: 89%;
    left: 30%;
}

.planet-and-note__circle-blur-white {
    position: absolute;
    width: 16vw;
    fill: rgb(150, 127, 127);
    filter: blur(4vw);
    right: -9%;
    bottom: 10%;
    z-index: -1;     
}

.planet-and-note__circle-blur-red {
    position: absolute;
    width: 28vw;
    fill: red;
    left: -20%;
    top: 100%;
    filter: blur(15vw);
    z-index: -1;
}

/* Gallery Section */

.gallery__section {
    padding-top: 21vh;
    width: 80%;
    padding-left: 10%;
    height: 120vh;
}

.gallery__headline {
    display: flex;
    justify-content: left;
    font-size: 2.7vw;
    word-spacing: 0.9vw;
    color: #f7f2f1;
    font-family: 'Ulm Grotesk';
    font-weight: 400;
}