* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

.page{
    background-color: #100f0f;
    background-image: url('img/bg.png');
    background-size: contain;
    background-repeat: repeat;
}

.bg__milkyway{
    background-image: url('img/stars-png-620.png');
    background-size: contain;
    background-repeat: repeat;
}

/* Navbar */

.navbar {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    padding: 0% 10% 0% 10%;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo__mars-travel {
    width: 12vw;
}

.logo__mars-travel__cls-1{
    isolation:isolate;
}

.logo__mars-travel__cls-2{
    fill:url(#Gradient_1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40vw;
    font-size: 1vw;
}

.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: grey;
}

/* Buy Tickets Section */

.buy-tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mars-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55vh;
    width: 80%;
}

.mars-description__letter {
    width: 15vw;
}

#mars-description__letter__A {
    width: 12vw;
}

#mars-description__letter__R {
    width: 13vw;
}

.a {
    fill: url(#a);
    }

.mars-description__MA {
    display: flex;
    justify-content: space-between;
    width: 34vw;
}

.mars-description__RS {
    display: flex;
    justify-content: space-between;
    width: 34vw;
    padding-left: 4vw;
}

#mars-description__image {
    position: absolute;
    width: 30%;
    left: 35%;
}

#Orbit {
    position: absolute;
    width: 33%;
    left: 33.5%; 
}

.mars-text-button {
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
    word-spacing: 0.2   vw;
    width: 80%;
    padding-top: 4vh;
}

.mars-text-button__text-description {
    color: #C3C5C2;
}

.mars-text-button__buy-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13vw;
}

.mars-text-button__text-button {
    color: #FFF8F6;
}

#Layer_1 {
    position: absolute;
    width: 3.5vw;
    right: 11.2vw;
    fill:#FFF8F6;
    fill-opacity:1; 
    stroke:none; 
    stroke-width:0px;
}

.mars-text-button__circle {
    fill: #FFF8F6;
    width: 2.7vw;
}

/* Exploration Section */

.exploration__section {
    padding-top: 35vh;
    width: 80%;
    padding-left: 10%;
}

.exploration__headline {
    display: flex;
    justify-content: left;
    font-size: 3vw;
    word-spacing: 0.9vw;
    color: #FFF8F6;
    font-family: 'Goldman', cursive;
    font-weight: 400;
}

.planet-and-note {
    display: flex;
    justify-content: space-between;
    padding-top: 9vh;
}

#planet-and-note__image {
    width: 33vw;
}